#main-container {
    background-image: url("../img/simple-simon-iphone.jpg");
    width: 595px;
    height: 595px;
    background-repeat: no-repeat;
    margin: auto;
}
.start {
    border-radius: 2px;
    width: 75px;
    height: 25px;
    position: absolute;
    z-index: 1;
    margin-left: 24em;
    margin-top: 11em;
}
#all-boxes {
    width: 234px;
    height: 510px;
    margin-left: 180px;
    padding-top:175px;
}
#top-row {
    width: 235px;
    height: 105px;
    margin-bottom: 15px;
}
.green-box {
    border: none;
    background-color: #12932e;
    width: 104px;
    height: 104px;
    float: left;
    margin-left: 10px;
}
.red-box {
    border: none;
    background-color: #a00909;
    width: 104px;
    height: 104px;
    float: right;
    margin-right: 10px;
}
.bottom-row {
    width: 235px;
    height: 105px;
}
.yellow-box {
    border: none;
    background-color: #ebdf1b;
    width: 104px;
    height: 104px;
    float: left;
    margin-left: 10px;
}
.blue-box {
    border: none;
    background-color: #305bfb;
    width: 104px;
    height: 104px;
    float: right;
    margin-right: 10px;
}